# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Android
android/local.properties
android/**/build/
android/.gradle/
*.jks
android/key.properties

# IDE
.idea/
*.iml
.vscode/
